// Normally mainpage styles 
//+font('Conv_SegoePrintRegular', 'SegoePrintRegular')


input.error, textarea.error
  box-shadow: inset 0 0 10px red !important
label.error
  display: none !important


.icon
  display: inline-block
  position: relative

body
  font-size: 14px
  line-height: 1.4
  background-color: #fff
  color: #3e3e3e
  font-family: 'open_sanslight'
.out
  position: relative
input, textarea
  +placeholder
    font-size: 13px
    color: #bcbcbc
    +osr
%in
  max-width: 1200px
  width: 1000px
  margin-left: auto
  margin-right: auto

.myFancyClose
  position: absolute
  top: 10px
  right: 11px
  +s(close)

.btn
  display: inline-block
  +border-radius(21px)
  background: rgba(255,255,255, .16)
  +background-clip(padding-box)
  padding: 4px 31px
  color: #53c3c3
  text-transform: uppercase
  +osb
  font-size: 16px
  border: 3px solid #55c9c9
  text-decoration: none

  +transition(background, .5s)
  &:hover
    color: #ffffff
    background-color: lighten(#53c3c3, 10%)
.title
  text-align: center
  font-size: 43px
  +osr
  line-height: 1.2em
  color: #4d4d4d
  span
    +osb



header
  background: url(../img/head_bg.jpg) center center no-repeat
  height: 771px
  +background-size(cover)
  +box
  +clr
  +box-shadow(inset 0 -5px 25px -10px)
  .header_in
    @extend %in
    +clr
    padding-top: 30px
  .header__phone
    float: left
    position: relative
    margin-left: 35px
    &:before
      position: absolute
      content: ""
      +s(phone)
      top: 5px
      left: -35px

    h3
      font-size: 36px
      color: #3e3e3e
      line-height: 1em
      +osl
      span
        +ossb



  .header__callme
    float: left
    margin-left: 50px
    width: 405px
    text-align: right
    h3
      color: #3e3e3e
      font-size: 14px
      display: inline-block
      margin-right: 20px
      +osr
      span
        +osb
    a
      vertical-align: top

  .header__text
    float: left
    width: 500px
    margin-top: 140px
    h3
      +ossb
      color: white
      display: inline-block
      font-size: 46px
      background: rgb(86,202,202)
      padding: 0 20px
      margin-bottom: 5px
      line-height: 1em
    h4
      font-size: 28px
      color: #535353
      +osl
      margin-top: 10px
    h5
      position: relative
      +osb
      font-size: 18px
      margin-top: 90px
      padding-left: 18px
      &:before
        position: absolute
        content: ""
        border-left: solid 5px rgb(86,202,202)
        top: 4px
        bottom: 4px
        left: 0



.choose
  background: url(../img/choose_bg.jpg) center no-repeat
  height: 385px
  +cover
  +clr
  +box
  .choose_in
    +clr
    @extend %in
    position: relative

  &__watch
    float: left
    margin-top: -45px

  &__text
    float: left
    margin-left: 45px
    width: 400px
    margin-top: 40px
    position: relative
    h3
      font-size: 21px
      +osb
      span
        +osl
    h5
      font-size: 13px
      +osr
  &__price
    margin-top: 30px
    margin-bottom: 55px
    h3
      float: left
      display: inline-block
      line-height: 36px
      background: rgb(86,202,202)
      color: #ffffff
      font-size: 65px
      +ossb
      +box
      padding: 10px 10px 0
      span
        font-size: 24px
        +osr
    h4
      font-size: 28px
      color: rgb(86,202,202)
      display: inline-block
      margin-left: 20px
      margin-top: 24px
      position: relative
      &:after
        position: absolute
        content: ""
        border-bottom: solid 1px
        height: 0
        top: 22px
        left: 0
        right: 0
      span
        font-size: 21px




.why
  background: url(../img/why_bg.png) repeat
  +background-size(cover)
  +clr
  clear: both
  padding-top: 45px
  +box-shadow(inset 0 5px 25px -10px)

  .why_in
    @extend %in
    +clr
  h2
    font-size: 53px
    color: #1a1a1a
    float: left
  .why__text
    float: left
    width: 565px
    font-size: 18px
    color: #414141
    margin-top: 40px
  .why__img
    float: right


.order
  padding-top: 120px
  +clr
  .order_in
    @extend %in
    +clr
  .order__item
    text-align: center
    display: inline-block
    width: 220px
    margin-right: 20px
    vertical-align: top
    margin-top: 60px
    &:last-child
      margin-right: 0
    .order__img
      height: 77px
      margin-bottom: 10px
    p
      font-family: 'open_sansregular'
      font-size: 17px
      color: #242424
      padding: 12px


.also
  +clr
  padding-top: 130px
  .also_in
    @extend %in
    +clr

  &__item
    text-align: center
    display: inline-block
    width: 315px
    border-right: solid 1px rgb(237,237,237)
    margin-top: 45px
    vertical-align: top
    &:last-child
      border-right: 0
      .also__img
        img
          margin-top: 20px
    &:first-child
      .also__img
        margin-left: 30px
  &__img
    overflow: hidden
    height: 174px
  &__caption
    font-size: 26px
    color: #181818
    line-height: 1em
  &__color
    font-size: 17px
    color: #333333
  &__price
    font-size: 21px
    color: #282828
    text-transform: uppercase
  &__form
    clear: both
    +clr
    form
      margin-top: 20px
    input
      width: 222px
      +box-shadow(inset 0 1px 2px rgba(0,0,0,.37))
      +background-image(linear-gradient(to bottom, #fff 0%, #f5f5f5 99.22%, #f5f5f5 100%))

    .button
      padding: 0 39px



.bottom


footer


.fancybox-skin,.fancybox-opened
  +box-shadow(0 0 25px -7px black)
.questions
  width: 739px
  height: 541px
  background: #ffffff
  padding: 0 70px
  +box
  .title--popup
    padding-top: 90px
    &:before
      top: 65px
  h3
    text-align: center
    font-size: 20px
    color: #000000
    line-height: 1em
    margin-top: 10px
  .form_inner
    display: table
    margin: 0 auto
  form
    margin-top: 40px
  input
    display: inline-block
    width: 283px
    +box-shadow(inset 0 1px 2px rgba(0,0,0,.37))
    +background-image(linear-gradient(to bottom, #fff 0%, #f5f5f5 99.22%, #f5f5f5 100%))
    margin-right: 2px
    &:last-of-type
      margin-right: 0
  textarea
    padding-left: 10px
    padding-top: 7px
    display: block
    height: 97px
    width: 568px
    +border-radius(6px)
    +background-clip(padding-box)
    margin-bottom: 40px
    font-size: 18px
    +box
    +box-shadow(inset 0 1px 2px rgba(0,0,0,.37))
    +background-image(linear-gradient(to bottom, #fff 0%, #f5f5f5 99.22%, #f5f5f5 100%))
    border: 3px solid rgba(255, 255, 255, 0.28)

  .button
    float: right
    padding: 0 34px
    margin: -10px 0 0
    &:disabled
      background: #ccc
      +box-shadow(0 4px 0 #aaa)
      cursor: auto
  .chkbox
    display: inline-block
    float: left
    width: 280px
    font-size: 17px
    margin-top: -10px
    color: #333333
    line-height: 1em
    input[type='checkbox']
      display: none

    span
      width: 23px
      height: 23px
      +border-radius(3px)
      +background-clip(padding-box)
      position: relative
      +box-shadow(inset 0 1px 2px rgba(0,0,0,.37))
      +background-image(linear-gradient(to bottom, #fff 0%, #f5f5f5 99.22%, #f5f5f5 100%))

      display: inline-block
      float: left
      margin-right: 10px
      margin-top: 3px
    input[type='checkbox']:checked + span
      &:before
        position: absolute
        content: ""
        +border-radius(2px)
        +background-clip(padding-box)
        background-color: #d9595d
        width: 12px
        height: 12px
        top: 50%
        left: 50%
        +translate(-50%, -50%)
.callback
  @extend .questions
  width: 651px
  height: 505px
  input
    display: block
    width: 318px
    margin-right: 0
    margin-bottom: 5px
  .button
    margin: 25px auto 0
    float: none
    padding: 0 80px


.thanks
  @extend .questions
  text-align: center
  width: 553px
  height: 335px
  img
    position: relative
    top: 50px